<div class="l-footer">
    <img src="assets/images/yellow_mountain.png" alt="line" class="c-line__footerline">
    <div class="l-footer__wrap">
        <div class="l-footer__inner">
            <div class="l-footer__title">
                <div class="c-title__footertitle">YAMA&SUM'24</div>
            </div>
            <div class="l-footer__nav">
                <a href="#" class="c-navItem__link">TOP</a>
                <a href="#" class="c-navItem__link">NEWS</a>
                <a href="#" class="c-navItem__link">ABOUT</a>
                <a href="#" class="c-navItem__link">MUSIC</a>
                <a href="#" class="c-navItem__link">CANP</a>
                <a href="#" class="c-navItem__link">FOOD/MARKET</a>
                <a href="#" class="c-navItem__link">TICKET</a>
                <a href="#" class="c-navItem__link">AREMAP</a>
                <a href="#" class="c-navItem__link">TIMETABLE</a>
                <a href="#" class="c-navItem__link">ACCESS</a>
                <a href="#" class="c-navItem__link">GUIDELINE</a>
                <a href="#" class="c-navItem__link">MOVEI</a>
            </div>
        </div>
        <div class="l-footer__SNS">
            <div class="l-footer__SNS__icon">
                <a href="#"><img src="assets/images/x.png" alt="X">
                </a>
                <a href="#"><img src="assets/images/instgram.png" alt="instagram">
                </a>
                <a href="#"><img src="assets/images/facebook.png" alt="facebook">
                </a>
                <a href="#"><img src="assets/images/spotify.png" alt="spotify">
                </a>
                <a href="#"><img src="assets/images/youtube.png" alt="youtube">
            </div>
            <div class="c-text__copyright">© FUJI & SUN '24 All Rights Reserved.</div>
        </div>
    </div>
</div>

</div><!-- l-wrap -->
</body>

</html>