<div class="l-footer">
    <img src="assets/images/yellow_mountain.png" alt="line" class="c-line__footerline">
    <div class="l-footer__wrap">
        <div class="l-footer__inner">
            <div class="l-footer__title">
                <div class="c-title__footertitle">YAMA&SUM'24</div>
            </div>
            <div class="l-footer__nav">
                <ul class="p-nav">
                    <li><a href="#" class="c-navItem__link">TOP</a></li>
                    <li><a href="#" class="c-navItem__link">NEWS</a></li>
                    <li><a href="#" class="c-navItem__link">ABOUT</a></li>
                    <li><a href="#" class="c-navItem__link">MUSIC</a></li>
                    <li><a href="#" class="c-navItem__link">CANP</a></li>
                    <li><a href="#" class="c-navItem__link">FOOD/MARKET</a></li>
                    <li><a href="#" class="c-navItem__link">TICKET</a></li>
                    <li><a href="#" class="c-navItem__link">AREMAP</a></li>
                    <li><a href="#" class="c-navItem__link">TIMETABLE</a></li>
                    <li><a href="#" class="c-navItem__link">ACCESS</a></li>
                    <li><a href="#" class="c-navItem__link">GUIDELINE</a></li>
                    <li><a href="#" class="c-navItem__link">MOVEI</a></li>
                </ul>
            </div>
        </div>
        <div class="l-footer__SNS">
            <div class="l-footer__SNS__icon">
                <ul class="c-sns">
                    <li>
                        <a href="#"><img src="assets/images/x.png" alt="X">
                        </a>
                    </li>
                    <li>
                        <a href="#"><img src="assets/images/instgram.png" alt="instagram">
                        </a>
                    </li>
                    <li>
                        <a href="#"><img src="assets/images/facebook.png" alt="facebook">
                        </a>
                    </li>

                    <li>
                        <a href="#"><img src="assets/images/spotify.png" alt="spotify">
                        </a>
                    </li>
                    <li>
                        <a href="#"><img src="assets/images/youtube.png" alt="youtube">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="c-text__copyright">© FUJI & SUN '24 All Rights Reserved.</div>
        </div>
    </div>
</div>

</div><!-- l-wrap -->
</body>

</html>