<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="YAMA&DSUN'24 Official Site" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="./assets/images/fav.png" />
    <!--facebook用-->
    <meta property="og:title" content="YAMA&DSUN'24 Official Site" />
    <meta property="og:description" content="YAMA&DSUN'24 Official Site.-YAMA&SUNと学び-
    -FUJI&SUNと⽣きる-静岡県・富⼠市で開催する「YAMA&SUN '24」のオフィシャルサイトです。" />
    <meta property="og:url" content="https://takada1998.github.io/yamaandsun/public/" />
    <meta property="og:image" content="https://takada1998.github.io/yamaandsun/public/assets/images/tophumbnail.jpeg" />
    <!--絶対パスで記述-->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="YAMA&DSUN'24 Official Site" />
    <meta property="og:locale" content="ja_JP" />
    <!--LINE用-->
    <meta property="og:title" content="YAMA&DSUN'24 Official Site">
    <meta property="og:description" content="YAMA&DSUN'24 Official Site.-YAMA&SUNと学び-
        -FUJI&SUNと⽣きる-静岡県・富⼠市で開催する「YAMA&SUN '24」のオフィシャルサイトです。">
    <meta property="og:image" content="https://takada1998.github.io/kichinto/public/assets/images/tophumbnail.jpeg">
    <!--twitter用-->
    <meta name="twitter:card" content="summary_large_image" /><!-- summary summary_large_image photo gallery appから選ぶ -->
    <!-- <meta name="twitter:site" content="" /> --><!--twitterがあれば記述-->
    <meta name="twitter:title" content="YAMAANDSUN" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:description" content="<%= description %>" />
    <meta name="twitter:image" content="" /><!--絶対パスで記述-->

    <title>YAMAANDSUN</title>
</head>

<body>
    <div class="l-wrap">