<header class="l-header">
    <div class="l-header__wrap">
        <div class="l-header__inner">
            <div class="l-header__logo">
                <a href="#" class="c-icon__header__logo">
                    <img src="assets/images/ymsn_logo.png" alt="ロゴ">
                </a>
            </div>
            <div class="l-header__hbgmenu">
                <img src="assets/images/hum_icon.png" class="c-icon__hbg" alt="ハンバーガーアイコン">
                <img src="assets/images/close_icon.png" class="c-icon__hbgclose" alt="クローズアイコン">
            </div>
            <div class="l-header__hbgbackground"></div>
        </div>
    </div>
</header>