<header class="l-header">
    <div class="l-header__wrap">
        <div class="l-header__inner">
            <div class="l-header__logo">
                <a href="#" class="c-icon__header__logo">
                    <img src="assets/images/ymsn_logo.png" alt="ロゴ">
                </a>
            </div>
            <div class="l-header__hbgmenu">
                <img src="assets/images/hum_icon.png" class="c-icon__hbg" alt="ハンバーガーアイコン">
                <img src="assets/images/close_icon.png" class="c-icon__hbgclose" alt="クローズアイコン">
            </div>
            <div class="l-header__hbgbackground"></div>
        </div>
    </div>
    <!--ハンバーガーメニューの中身-->
    <div class="p-hbgmenu__menuwrap">
        <div class="p-hbgmenu__menuinner">
            <a href="#" class="c-menu__link">
                <div class="c-menu__text">TOP</div>
            </a>
            <a href="#" class="c-menu__link">
                <div class="c-menu__text">ABOUT</div>
            </a>
            <a href="#" class="c-menu__link">
                <div class="c-menu__text">NEWS</div>
            </a>
            <a href="#" class="c-menu__link">
                <div class="c-menu__text">MUSIC</div>
            </a>
            <a href="#" class="c-menu__link">
                <div class="c-menu__text">ACTIVITY</div>
            </a>
            <a href="#" class="c-menu__link">
                <div class="c-menu__text">CAMP</div>
            </a>
            <a href="#" class="c-menu__link">
                <div class="c-menu__text">FOOD/MARKET</div>
            </a>
            <a href="#" class="c-menu__link">
                <div class="c-menu__text">AREA MAP</div>
            </a>
            <a href="#" class="c-menu__link">
                <div class="c-menu__text">TICKET</div>
            </a>
            <a href="#" class="c-menu__link">
                <div class="c-menu__text">MOVIE</div>
            </a>
            <a href="#" class="c-menu__link">
                <div class="c-menu__text">TIMETABLE</div>
            </a>
            <a href="#" class="c-menu__link">
                <div class="c-menu__text">ACCESS</div>
            </a>
            <a href="#" class="c-menu__link">
                <div class="c-menu__text">GUIDELINE</div>
            </a>
            <div class="c-menu__sns">
                <a href="#"><img src="assets/images/x.png" alt="X">
                </a>
                <a href="#"><img src="assets/images/instgram.png" alt="instagram">
                </a>
                <a href="#"><img src="assets/images/facebook.png" alt="facebook">
                </a>
                <a href="#"><img src="assets/images/spotify.png" alt="spotify">
                </a>
                <a href="#"><img src="assets/images/youtube.png" alt="youtube">
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const hamburgerIcon = document.querySelector(".c-icon__hbg");
            const closeIcon = document.querySelector(".c-icon__hbgclose");
            const menuWrap = document.querySelector(".p-hbgmenu__menuwrap");

            hamburgerIcon.addEventListener("click", function () {
                menuWrap.classList.add("is-open"); // メニューを表示
                hamburgerIcon.style.display = "none"; // ハンバーガーアイコンを非表示
                closeIcon.style.display = "block"; // クローズアイコンを表示
            });

            closeIcon.addEventListener("click", function () {
                menuWrap.classList.remove("is-open"); // メニューを非表示
                hamburgerIcon.style.display = "block"; // ハンバーガーアイコンを表示
                closeIcon.style.display = "none"; // クローズアイコンを非表示
            });

            closeIcon.style.display = "none"; // クローズアイコンを非表示
            menuWrap.classList.remove("is-open"); // メニューを非表示
        });
    </script>
</header>