<main class="l-main">
    <div class="l-main__news">
        <div class="l-main__news__wrap">
            <!-- l-wrap <h2 class="c-title__news">NEWS</h2>-->
            <div class="l-main__news__inner">
                <a href="#" class="p-news">
                    <div class="c-text__news__date">2024.11.4</div>
                    <div class="c-text__news__text">FUJI&SUN‘24オフィシャルTシャツオンライン販売が決定！</div>
                </a>
                <a href="#" class="p-news">
                    <div class="c-text__news__date">2024.10.15</div>
                    <div class="c-text__news__text">落とし物に関してのご案内</div>
                </a>
                <a href="#" class="p-news">
                    <div class="c-text__news__date">2024.10.11</div>
                    <div class="c-text__news__text">ご来場者様へのアンケートを実施中！抽選で豪華プレゼントも！</div>
                </a>
                <a href="#" class="p-news">
                    <div class="c-text__news__date">2024.10.7</div>
                    <div class="c-text__news__text">スマホ撮影OKのライブ/プログラムを明記した、「完全版タイムテーブル」を公開！</div>
                </a>
                <a href="#" class="p-news">
                    <div class="c-text__news__date">2024.10.7</div>
                    <div class="c-text__news__text">完全版マップ公開！会場の詳細、要チェック！</div>
                </a>
            </div>
            <div class="c-button">
                <a href="#" class="c-button__link">
                    <div class="c-text__button">NEWSページへ</div>
                    <img src="assets/images/button_right_arrow.png" alt="矢印">
                </a>
            </div>
        </div>
    </div>
    <div class="l-main__about">
        <div class="l-main__about__wrap">
            <h2 class="c-title__about">いだかれるフェス<br>YAMA&SUN</h2>
            <p class="c-text__about__top">
                日本のシンボルとして、人々を魅了し続ける富士山。<br>その麓にあり、霊峰富士の大自然に包まれる静岡県・富⼠市で「YAMA＆SUN
                ’24」を開催いたします。<br>太陽のように燦々と輝く空間で、<br>ジャンルや世代の垣根を超えた⾳楽とともに非日常のひとときをお届けします。
            </p>
            <p class="c-text__about__bottom">
                -FUJI&SUNと学び-<br>-FUJI&SUNと⽣きる-
            </p>
        </div>
        <div class="c-button">
            <a href="#" class="c-button__link">
                <div class="c-text__button">ABOUTページへ</div>
                <img src="assets/images/button_right_arrow.png" alt="矢印">
            </a>
        </div>
        <img src="assets/images/deco_line_2.png" alt="line" class="c-line__aboutline">
    </div>
    <div class="l-main__music">
        <!--<h2 class="c-title__music">MUSIC</h2>-->
        <div class="l-main__music__image">
            <script>
                let images = [
                    { src: 'assets/images/music1.jpeg', name: 'Image 1' },
                    { src: 'assets/images/music2.jpeg', name: 'Image 2' },
                    { src: 'assets/images/music3.jpeg', name: 'Image 3' },
                    { src: 'assets/images/music4.jpeg', name: 'Image 4' },
                    { src: 'assets/images/music5.jpeg', name: 'Image 5' },
                    { src: 'assets/images/music6.jpeg', name: 'Image 6' },
                    { src: 'assets/images/music7.jpeg', name: 'Image 7' },
                    { src: 'assets/images/music8.jpeg', name: 'Image 8' },
                    { src: 'assets/images/music9.jpeg', name: 'Image 9' },
                    { src: 'assets/images/music10.jpeg', name: 'Image 10' },
                    { src: 'assets/images/music11.jpeg', name: 'Image 11' },
                    { src: 'assets/images/music12.jpeg', name: 'Image 12' },
                ];

                let gridContainer = document.querySelector('.l-main__music__image');

                images.forEach(image => {
                    let itemDiv = document.createElement('div');
                    itemDiv.classList.add('l-main__musicimageitem');

                    let imgElement = document.createElement('img');
                    imgElement.src = image.src;
                    imgElement.alt = image.name;

                    let caption = document.createElement('p');
                    caption.textContent = image.name;

                    itemDiv.appendChild(imgElement);
                    itemDiv.appendChild(caption);
                    gridContainer.appendChild(itemDiv);
                });
            </script>
        </div>
        <img src="assets/images/deco_line_3.png" alt="line" class="c-line__musicline">
        <div class="c-button">
            <a href="#" class="c-button__link">
                <div class="c-text__button">MUSICページへ</div>
                <img src="assets/images/button_right_arrow.png" alt="矢印">
            </a>
        </div>
    </div>
    <div class="l-main__camp">
        <div class="l-main__camp__wrap">
            <div class="l-main__camp__text">
                <p class="c-text__camp__top">豊かな自然に包まれた快適な空間。<br>家族構成やライフスタイルにあわせて<br>選べる8つのキャンプサイト‼</p>
                <div class="c-button">
                    <a href="#" class="c-button__link">
                        <div class="c-text__button">CANMPページへ</div>
                        <img src="assets/images/button_right_arrow.png" alt="矢印">
                    </a>
                </div>
            </div>
            <img src="assets/images/camp.jpeg" alt="camp" class="c-image__capm">
        </div>
        <!-- <h2 class="c-title__camp">CAMP</h2>-->
    </div>
    <div class="l-main__movie">
        <div class="l-main__movie__wrap">
            <div class="p-movie__left">
                <video class="c-video__movie" controls>
                    <source src="assets/images/movie1.mp4" type="video/mp4">
                    お使いのブラウザは動画再生に対応していません。
                </video>
                <h3>【YAMA&SUN'24】ティザームービー第一弾</h3>
            </div>
            <div class="p-movie__rigth">
                <video class="c-video__movie" controls>
                    <source src="assets/images/movie2.mp4" type="video/mp4">
                    お使いのブラウザは動画再生に対応していません。
                </video>
                <h3>YAMA&SUN'23 After/Movie</h3>
            </div>
        </div>
        <div class="c-button">
            <a href="#" class="c-button__link">
                <div class="c-text__button">MOVIEページへ</div>
                <img src="assets/images/button_right_arrow.png" alt="矢印">
            </a>
        </div>
        <!--<h2 class="c-title__movie">MOVIE</h2>-->
        <img src="assets/images/deco_line_2.png" alt="line" class="c-line__aboutline">
        <div class="p-music__spotify"></div>
    </div>
    <div class="l-main__AppleMusic">
        <iframe allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameborder="0" height="352"
            style="width:100%;overflow:hidden;border-radius:10px;"
            sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"
            src="https://embed.music.apple.com/jp/playlist/yama-sun24/pl.u-AkAm8qNu2LmWRdg"></iframe>
    </div>

    <div class="l-main__sponsors">
        <div class="l-main__sponsors__wrap">
            <h2 class="c-title__sponsors">SPONSORS</h2>
            <div class="c-line__sponsorsline"></div>
            <a href="#"><img src="#" alt="" class="p-sponsors__top">
            </a>
            <div class="p-sponsors__bottom">
                <a href="#"><img src="assets/images/sponsors1.jpeg" alt="" class="p-sponsors__top">
                </a>
                <a href="#"><img src="assets/images/sponsors2.jpeg" alt="" class="p-sponsors__top">
                </a>
                <a href="#"><img src="assets/images/sponsors3.jpeg" alt="" class="p-sponsors__top">
                </a>
                <a href="#"><img src="assets/images/sponsors4.jpeg" alt="" class="p-sponsors__top">
                </a>
                <a href="#"><img src="assets/images/sponsors5.jpeg" alt="" class="p-sponsors__top">
                </a>
                <a href="#"><img src="assets/images/sponsors6.jpeg" alt="" class="p-sponsors__top">
                </a>
            </div>
        </div>
    </div>
</main>