.c-button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    display: flex;

    @media screen and (max-width: 479px) {
        width: 100%;
    }

    &__link {
        background-color: #0d94a9;
        color: var(--white);
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        width: 240px;
        margin-top: 42px;
        padding: 12px 24px;
        font-weight: 700;
        display: flex;

        transition: opacity 0.3s ease;

        @media screen and (max-width: 767px) {
            margin-top: 30px;
        }

        img {
            width: 30px;
            max-width: 100%;
            vertical-align: middle;
            display: inline-block;
        }
    }

    &__pagetop {
        z-index: 1;
        grid-column-gap: 3px;
        grid-row-gap: 3px;
        background-color: #ffffff;
        border-radius: 50%;
        flex-direction: column;
        justify-content: center;
        width: 60px;
        height: 60px;
        margin-right: 30px;
        padding: 6px;
        display: flex;
        position: fixed;
        top: auto;
        bottom: 30px;
        left: auto;
        right: 0%;

        &__arrow {
            width: 30px;
            margin-left: auto;
            margin-right: auto
        }

        &__text {
            font-size: 10px;
            font-weight: 300;
            margin-left: auto;
            margin-right: auto
        }
    }
}

.c-button__link:hover {
    opacity: 0.8;
}

.c-button img {
    transition: transform 0.3s ease;
}

.c-button:hover img {
    transform: translateX(5px);
}

.c-button__pagetop {
    display: none;
}

.c-button__pagetop:hover .c-button__pagetop__arrow {
    transform: translateY(-3px);
    transition: transform 0.3s ease;
}