.c-icon {
    &__hbg {
        z-index: 1000;
        cursor: pointer;
        width: 5vw;
        height: 5vw;
        padding: 12px;
        position: relative;

        @media screen and (min-width: 1440px) {
            width: 5.5vw;
            height: 5.5vw;
            padding: 24px;
        }

        @media screen and (min-width: 1920px) {
            width: 80px;
            height: 80px;
        }

        @media screen and (max-width: 991px) {
            width: 50px;
            height: 50px;
        }

        @media screen and (max-width: 767px) {
            width: 52px;
            height: 52px;
        }

        img {
            max-width: 100%;
            vertical-align: middle;
        }
    }

    &__hbgclose {
        z-index: 1;
        cursor: pointer;
        width: 4vw;
        height: 4vw;
        padding: 12px;
        display: none;
        position: relative;

        img {
            max-width: 100%;
            vertical-align: middle;
        }
    }
}