.c-image {
    width: 100%;

    img {
        max-width: 100%;
        vertical-align: middle;
        display: inline-block;
    }

    &__canp img {
        @media screen and (max-width: 767px) {
            margin-bottom: 24px;
        }


        @media screen and (max-width: 991px) {
            margin-bottom: 60px;
        }
    }
}