.c-line {
    &__mainline {
        width: 27vw;
        position: absolute;
        top: auto;
        bottom: 11%;
        left: auto;
        right: 0%;

        max-width: 100%;
        vertical-align: middle;
        display: inline-block;

        @media screen and (max-width: 479px) {
            width: 55vw;
            bottom: 4%;
        }
    }

    &__aboutline {
        width: 20vw;
        position: absolute;
        top: -120px;
        bottom: auto;
        left: 0%;
        right: auto;
        max-width: 100%;
        vertical-align: middle;
        display: inline-block;

        @media screen and (max-width: 991px) {
            width: 27vw;
        }


        @media screen and (max-width: 767px) {
            width: 30vw;
            //top: -60px;
        }

        @media screen and (max-width: 479px) {
            width: 45vw;
            top: -40px;
        }


    }

    &__musicline {
        width: 20vw;
        position: absolute;
        top: -240px;
        bottom: auto;
        left: auto;
        right: 0%;

        max-width: 100%;
        vertical-align: middle;
        display: inline-block;

        @media screen and (max-width: 991px) {
            width: 27vw;
        }

        @media screen and (max-width: 767px) {
            width: 30vw;
            top: 190px;
        }

        @media screen and (max-width: 479px) {
            width: 55vw;
            top: -190px;
        }
    }

    &__footerline {
        height: 257px;
        position: absolute;
        top: -257px;
        bottom: auto;
        left: 0%;
        right: auto;
        width: 15%;

        @media screen and (max-width: 767px) {
            height: 160px;
            top: -160px;
            width: 30%;

        }

        @media screen and (max-width: 991px) {
            height: 200px;
            top: -200px;
            width: 27%;
        }
    }

    &__sponsorsline {
        background-color: #0d94a9;
        width: 100%;
        margin-top: 6px;
        margin-bottom: 60px;

        max-width: 1050px;
        height: 1px;
        margin-left: auto;
        margin-right: auto;
    }
}