.c-menu {
    &__link {
        grid-area: span 1 / span 1 / span 1 / span 1;
        padding: 15px 10px;
        font-family: itc-avant-garde-gothic-pro, sans-serif;
        font-size: 30px;
        font-weight: 500;
        line-height: 1;
        display: block;
        position: relative;
        text-decoration: none;
        z-index: 10;

        @media screen and (max-width: 767px) {
            padding: 5px 10px;
        }
    }

    &__text {
        border-bottom: 1px solid #333;
        padding-bottom: 3px;
        display: inline-block;
        border-color: rgba(255, 255, 255, 0);

        text-decoration: none;
        position: relative;

        @media screen and (max-width: 767px) {
            font-size: 22px;
        }
    }

    &__sns {
        grid-area: 5 / 3 / 5 / 4;
        align-self: center;
        //justify-self: end;
        justify-content: flex-start;
        align-items: center;
        display: flex;

        @media screen and (max-width: 767px) {
            margin-top: 60px;
        }

        a {
            padding: 8px;
            z-index: 10;
        }

        img {
            width: 30px;
            height: 30px;
            transition: opacity 0.3s ease;
        }
    }
}

.c-menu__sns a:hover img {
    opacity: 0.6;
}

.c-menu__text::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 1px;
    background-color: currentColor;
    transition: width 0.3s ease;
}

.c-menu__link:hover .c-menu__text::after {
    width: 100%;
}