.c-text {
    &__news__date {
        color: #969696;
        margin-bottom: 6px;
        font-size: 12px;
    }

    &__news__text {
        font-size: 16px;
        line-height: 1.7;
        color: #333;

        @media screen and (max-width: 767px) {
            font-size: 14px;
        }
    }

    &__button {
        color: white;
        margin-right: 15px;
        font-weight: 700;
    }

    &__about__top {
        margin-bottom: 30px;
        font-size: 17px;
        line-height: 1.5;
        color: #333;

        @media screen and (max-width: 479px) {
            line-height: 1.8;
        }


        @media screen and (max-width: 767px) {
            margin-bottom: 24px;
            font-size: 16px;
        }
    }

    &__about__bottom {
        margin-bottom: 30px;
        font-size: 17px;
        line-height: 1.5;
        color: #333;

        @media screen and (max-width: 479px) {
            line-height: 1.8;
        }

        @media screen and (max-width: 767px) {

            margin-bottom: 24px;
            font-size: 16px;
        }
    }

    &__camp__top {
        margin-bottom: 60px;
        font-size: 18px;
        line-height: 2;
        margin-top: 0;

        @media screen and (max-width: 767px) {
            margin-bottom: 24px;
            font-size: 16px;
        }
    }

    &__copyright {
        font-size: 14px;
    }
}