.l-footer {
	width: 100%;
	margin-top: 240px;
	display: block;
	position: relative;

	&__wrap {
		background-color: #fff36c;
		padding: 47px 60px 35px;
		display: grid;
		position: relative;

		@media screen and (min-width: 1440px) {
			max-width: 1500px;
			margin-left: auto;
			margin-right: auto;
		}

		@media screen and (min-width: 1280px) {
			grid-column-gap: 60px;
			grid-row-gap: 0px;
			grid-template-rows: auto;
			grid-template-columns: 1fr .25fr;
			margin-top: 0;
		}
	}

	&__inner {
		grid-area: span 1 / span 1 / span 1 / span 1;
	}

	&__SNS {
		flex-direction: column;
		display: flex;

		@media screen and (min-width: 1280px) {
			justify-content: flex-end;
			min-width: 270px;
			padding-bottom: 10px;
		}

	}

	&__nav {
		margin-left: -9px;
		display: flex;

		a {
			font-size: 16px;
			text-transform: uppercase;
			padding: 9px;
			font-weight: 500;
			display: block;
		}

		@media screen and (min-width: 1280px) {
			flex-wrap: wrap;
		}
	}

	&__SNS__icon {
		margin-bottom: 15px;
		margin-left: -15px;
		display: flex;

		a {
			margin-left: 0;
			padding: 15px;
		}

		img {
			width: 100%;
			vertical-align: middle;
		}
	}

	&__title {
		margin-bottom: 30px;
		width: 300px;
	}
}