.p-scroll {
    @media screen and (max-width: 991px) {
        bottom: -23%;
    }

    @media screen and (max-width: 479px) {
        bottom: -23%;
        right: 0%;
    }

    @media screen and (min-width: 1440px) {
        bottom: -14%;
    }

    @media screen and (min-width: 1920px) {
        bottom: -10%;
    }

    margin-top: -12px;
    margin-right: 45px;
    display: inline-block;
    position: absolute;
    top: auto;
    bottom: -15%;
    left: auto;
    right: 8%;
}